{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "prject": "./tsconfig.json",
    "ecmaFeatures": {
      "experimentalDecorators": true
    }
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-member-accessibility": "off"
  }
}